nav {
    width: 100%;
}
article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    height: 100%;
    background: rgb(196, 196, 196);
    border-radius: 20% 10% 20% 10%;
    -moz-border-radius: 20% 10% 20% 10%;
    -webkit-border-radius: 20% 10% 20% 10%;
    -ms-border-radius: 20% 10% 20% 10%;
    -o-border-radius: 20% 10% 20% 10%;
    padding: 2em 1em 9em 1em;
    margin-bottom: 4em;
    box-shadow: 5px 5px 5px 5px #888888;
}